@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    opacity: 0;
}
body.loaded{
    opacity: 1;
    transition: opacity 1s ease-in;
}
:root{
    --primary: #0c4b3c;   /* deep green */
    --background: #ebe7db; 
    --veryDark-green: rgb(7, 25, 11);
    --text: #1C1C1C;
    --accent: #d99201;    /* gold */
    --soft-accent: #C48A8A;
    --firstFont: 'Segoe UI', sans-serif;
    --secondFont: 'Raleway', sans-serif;
    --thirdFont: 'Questrial', sans-serif;
    --forthFont: 'Poppins', sans-serif;
    --fifthFont: 'DM Serif Text', serif;
}
.entrance{
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.door img{
    width: 220px;
    height: auto;
    display: block;
    transition: 0.3s ease;
}
.door img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.entrance p{
    font-size: 16px;
    color: var(--text);
    font-family: 'Segoe UI', sans-serif;
    border: 1px solid var(--text);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.entrance h1{
    font-size: 2.5rem;
    padding-top: 10px;
    color: var(--text);
    text-align: center;
    line-height: 1.4;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'raleway', sans-serif;
}
.entranceSpan{
    color: var(--primary);
    font-weight: 800;
    font-size: 2.8rem;
}
.door-link{
    text-decoration: none;
}
@media (max-width: 600px){
    .entrance h1{
        font-size: 1.8rem;
    }
    .door img{
        width: 200px;
    }
    .entranceSpan{
        font-size: 2.2rem;
    }
}